# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
backend/venv/

# Env files
.env
backend/.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node (for frontend later)
node_modules/
dist/
build/

# VS Code
.vscode/

# HuggingFace model cache
.cache/